@model DeveloperNotes.Models.Notebook

@{
    ViewData["Title"] = "Delete Notebook";
}

<div class="header">
    <div class="container">
        <h1 class="">@ViewData["Title"]</h1>
    </div>
</div>

<div class="container">
    <div class="manage-content float-container">
        <div class="float-left">
            <h2>Confirm Delete</h2>
        </div>
        <div class="float-right">
            <form asp-controller="Notebooks" asp-action="Delete" class="text-right">
                <input type="submit" value="Confirm Delete" class="btn btn-danger" />
                <a asp-action="View" class="btn btn-default">Back to Notebook</a>
            </form>
        </div>
    </div>

    @Html.DisplayForModel(Model)
</div>