@{
    ViewData["Title"] = "Account";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <ul class="nav nav-pills nav-stacked col-sm-2">
        <li role="presentation"><a asp-action="Index">Home</a></li>
        <li role="presentation"><a asp-action="Messages">Messages <span class="badge">4</span></a></li>
        <li role="presentation"><a asp-action="Notes">My Notes</a></li>
        <li role="presentation"><a asp-action="Notebooks">My Notebooks</a></li>
        <li role="presentation" class="active"><a asp-action="Admin">Admin <span class="badge">4</span></a></li>
        <li role="presentation"><a asp-action="Settings">Settings</a></li>
    </ul>
    <div class="col-sm-10">

    </div>
</div>