@{
    ViewData["Title"] = "Account";
}

<div class="header">
    <h1 class="container body-content">@ViewData["Title"]</h1>
</div>

<div class="container body-content">
    <p>Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.</p>
</div>