@{
    ViewData["Title"] = "Account";
}

<div class="header">
    <h1 class="container body-content">@ViewData["Title"]</h1>
</div>

<div class="container body-content">
    <p class="text-danger">Unsuccessful login with service.</p>
</div>