@{
    ViewData["Title"] = "Account";
}

<div class="header">
    <div class="container">
        <h1 class="">@ViewData["Title"]</h1>
    </div>
</div>

<div class="container">
    <p class="text-danger">Unsuccessful login with service.</p>
</div>