@{
    ViewData["Title"] = "Account";
}

<div class="header">
    <h1 class="container body-content">@ViewData["Title"]</h1>
</div>

<div class="container body-content">
    <p>Please check your email to reset your password.</p>
</div>