@{
    ViewData["Title"] = "Account";
}

<div class="header">
    <div class="container body-content">
        <h1 class="">@ViewData["Title"]</h1>
    </div>
</div>

<div class="container body-content">
    <p>Please check your email to reset your password.</p>
</div>