@model SettingsViewModel
@{
    ViewData["Title"] = "Account";
}

<div class="header">
    <div class="container body-content">
        <h1 class="">@ViewData["Title"]</h1>
    </div>
</div>

<p class="text-success">@ViewData["StatusMessage"]</p>

<div class="container body-content">
    <div class="row">
        <div class="col-sm-2">
            @await Html.PartialAsync("_AccountMenu")
        </div>
        <div class="col-sm-10">
            <p>Welcome to the account page.</p>
        </div>
    </div>
</div>