@{
    ViewData["Title"] = "Account";
}

<div class="header">
    <div class="container">
        <h1 class="">@ViewData["Title"]</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @await Html.PartialAsync("_AccountMenu")
        </div>
        <div class="col-sm-10">
            <p>Messages page.</p>
        </div>
    </div>
</div>