@{
    ViewData["Title"] = "Account";
}

<div class="header">
    <div class="container">
        <h1 class="">@ViewData["Title"]</h1>
    </div>
</div>

<div class="container">
    <p>Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.</p>
</div>
