<ul class="nav nav-tabs margin-bottom">
    <li role="presentation" class="active"><a asp-action="Index">Home</a></li>
    <li role="presentation"><a asp-action="Messages">Messages <span class="badge">4</span></a></li>
    <li role="presentation"><a asp-action="Admin">Admin <span class="badge">4</span></a></li>
    <li role="presentation"><a asp-action="Settings">Settings</a></li>
</ul>