@{
    ViewData["Title"] = "Account";
}

<div class="header">
    <div class="container">
        <h1 class="">@ViewData["Title"]</h1>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs margin-bottom">
        <li role="presentation"><a asp-action="Index">Home</a></li>
        <li role="presentation"><a asp-action="Messages">Messages <span class="badge">4</span></a></li>
        <li role="presentation" class="active"><a asp-action="Admin">Admin <span class="badge">4</span></a></li>
        <li role="presentation"><a asp-action="Settings">Settings</a></li>
    </ul>
    <div>
        <p>Admin page.</p>
    </div>
</div>