@model DeveloperNotes.Models.Note

@{
    ViewData["Title"] = "Delete Note";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete the following note?</h3>
<hr />

<p>
    <b>@Html.DisplayNameFor(model => model.Title):</b> @Html.DisplayFor(model => model.Title)
</p>

<div>
    <form asp-action="Delete">
            <input type="submit" value="Delete" class="btn btn-default" />
            <a asp-action="Index" class="btn btn-default">Back to List</a>
    </form>
</div>
