@model DeveloperNotes.Models.Note

@{
    ViewData["Title"] = "Delete Note";
}

<div class="header">
    <div class="container">
        <h1 class="">@ViewData["Title"]</h1>
    </div>
</div>

<div class="container">
    <div class="well float-container">
        <div class="float-left">
            <h6>Are you sure?</h6>
        </div>
        <div class="float-right">
            <form asp-controller="Notes" asp-action="Delete" class="text-right">
                <input type="submit" value="Confirm Delete" class="btn btn-danger" />
                <a asp-action="View" class="btn btn-default">Back to Note</a>
            </form>
        </div>
    </div>

    @Html.DisplayForModel(Model)
</div>