@model IEnumerable<DeveloperNotes.Models.Note>

@{
    ViewData["Title"] = "Notes";
}

<div class="list-group">
    @foreach (var item in Model.Reverse())
    {
        <a asp-action="View" asp-route-id="@item.NoteId" class="list-group-item">@Html.DisplayFor(modelItem => item.Title)</a>
    }
</div>
<hr />
<div>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</div>
