@model IEnumerable<DeveloperNotes.Models.Note>

@{
    ViewData["Title"] = "Notes";
}

<div class="header float-container">
    <div class="container">
        <div class="float-left">
            <h1 class="container">@ViewData["Title"]</h1>
        </div>
        <div class="float-right">
            <a asp-controller="Notes" asp-action="Create" class="btn btn-header">New Note</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="well">
        <form asp-controller="Search" asp-action="Notes" method="get">
            <div class="input-group">
                <input name="q" type="text" class="form-control" placeholder="Search..." value="@ViewData["Query"]" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Search</button>
                </span>
            </div>
        </form>
    </div>
    <div class="list-group">
        @foreach (var item in Model)
        {
            <a asp-controller="Notes" asp-action="View" asp-route-noteId="@item.NoteId" class="list-group-item">@Html.DisplayFor(modelItem => item.Title)</a>
        }
    </div>
</div>