@model IEnumerable<DeveloperNotes.Models.Note>

@{
    ViewData["Title"] = "Notes";
}

<div class="header">
    <div class="container body-content">
        <div class="header-left">
            <h1 class="container body-content">@ViewData["Title"]</h1>
        </div>
        <div class="header-right">
            <a asp-action="Create" class="btn btn-header">New Note</a>
        </div>
    </div>
</div>

<div class="container body-content">
    <div class="well">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Notes...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
        </div>
    </div>
    <div class="list-group">
        @foreach (var item in Model.Reverse())
        {
            <a asp-action="View" asp-route-noteId="@item.NoteId" class="list-group-item">@Html.DisplayFor(modelItem => item.Title)</a>
        }
    </div>
</div>