@model IEnumerable<DeveloperNotes.Models.Revision>

@{
    ViewData["Title"] = "Revisions";
}

<div class="list-group">
    @foreach (var item in Model.Reverse())
    {
        <a asp-action="Revision" asp-route-revisionNumber="@item.RevisionNumber" class="list-group-item">
            Revision #@Html.DisplayFor(modelItem => item.RevisionNumber) - @Html.DisplayFor(modelItem => item.Description)
        </a>
    }
</div>
<div class="text-right">
    <a asp-action="View" class="btn btn-default">Back To Note</a>
</div>
