@model DeveloperNotes.Models.Revision

@{
    ViewData["Title"] = "Revision #" + Model.RevisionNumber;
}

<h3>@Html.DisplayFor(model => model.Title)</h3>
<div>
    <p>@Html.DisplayFor(model => model.Content)</p>
    <p>Updated By @Html.DisplayFor(model => model.Creator.FullName) On <time>@Html.DisplayFor(model => model.PublishDateUtc)</time></p>
</div>
<div class="text-right">
    <a asp-action="Restore" class="btn btn-default">Restore</a>
    <a asp-action="Revisions" class="btn btn-default">Back to Revisions</a>
</div>