@model IEnumerable<DeveloperNotes.Models.Revision>

@{
    ViewData["Title"] = "Revisions";
}

<h2>Revisions</h2>

<div class="list-group">
    @foreach (var item in Model.Reverse())
    {
        <a asp-action="Revision" asp-route-noteId="@item.NoteId" asp-route-revisionNumber="@item.RevisionNumber" class="list-group-item">
            Revision #@Html.DisplayFor(modelItem => item.RevisionNumber) - Created by @Html.DisplayFor(modelItem => item.Creator.FullName) on @Html.DisplayFor(modelItem => item.PublishDateUtc)
        </a>
    }
</div>
