@model DeveloperNotes.Models.Note

@{
    ViewData["Title"] = Model.Title;
}

<div class="header">
    <div class="container body-content">
        <h1 class="">@ViewData["Title"]</h1>
    </div>
</div>

<div class="container body-content">
    <div class="well float-container">
        <div class="float-left">
            <h6>Manage Note</h6>
        </div>

        <div class="float-right">
            <a asp-controller="Notes" asp-action="Edit" class="btn btn-default">Edit</a>
            <a asp-controller="Notes" asp-action="Delete" class="btn btn-default">Delete</a>
            <a asp-controller="Notes" asp-action="Revisions" class="btn btn-default">View Revisions</a>
        </div>
    </div>

    @Html.DisplayForModel(Model)
</div>