@{
    ViewData["Title"] = "Home Page";
}

<div class="container margin-top">
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>This is an example project I built to learn about the new ASP 5 framework. Feel free to look around, create an account, and start making your own notes and notebooks!</p>
        <p><a class="btn btn-primary btn-lg" asp-controller="About" asp-action="Index" role="button">Learn more</a></p>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <form asp-controller="Notes" asp-action="Search" method="get">
            <div class="input-group">
                <input name="q" type="text" class="form-control input-lg" placeholder="Search Notes..." value="@ViewData["Query"]" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default btn-lg">Search</button>
                </span>
            </div>
        </form>
    </div>
</div>