@model NoteManager.Models.Note

@{
    ViewData["Title"] = "Add Note";
}

<div class="header">
    <div class="container">
        <h1 class="">@ViewData["Title"]</h1>
    </div>
</div>

<div class="container">
    <div class="manage-content float-container">
        <div class="float-left">
            <h2>Manage Notebook</h2>
        </div>

        <div class="float-right">
            <form asp-controller="Notebooks" asp-action="AddNoteConfirmed" asp-route-noteId="@Model.NoteId">
                <input type="submit" value="Add This Note" class="btn btn-primary" />
                <a asp-controller="Notebooks" asp-action="View" class="btn btn-default">Back to Notebook</a>
            </form>
        </div>
    </div>

    @Html.DisplayForModel(Model)
</div>

@section Scripts {
    <link href="~/lib/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet" />
    <script src="~/lib/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <script src="~/lib/ckeditor/initTarget.js"></script>
}