@{
    ViewData["Title"] = "About";
}

<div class="header">
    <div class="container">
        <h1 class="">@ViewData["Title"]</h1>
    </div>
</div>

<div class="container">
    <h2>What Is Note Manager?</h2>
    <div class="panel panel-default margin-bottom margin-top">
        <div class="panel-body">
            Note Manager is a project I built to learn about the new ASP 5 framework. This project is now online to serve as an example to others trying to implement features similar to those I have designed here.
        </div>
    </div>
    <h2>Features</h2>
    <ul class="list-group">
        <li class="list-group-item">Create, read, update, and delete notes</li>
        <li class="list-group-item">Create, read, update, and delete notebooks</li>
        <li class="list-group-item">Add a note to a notebook</li>
        <li class="list-group-item">Logs all revisions (changes) to notes</li>
        <li class="list-group-item">User account creation</li>
    </ul>
    <h2>Contribute</h2>
    <div class="panel panel-default margin-bottom margin-top">
        <div class="panel-body">
            There are many features built out on this project, and still many others that have yet to have been built out. I welcome anyone to fork this project on Github and make it their own, or even contribute to the repository for this project on Github.
        </div>
    </div>
</div>