body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.row {
    margin: 0 0 20px 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.container {
    padding: 0 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    //max-width: 280px;
}

.form-horizontal .form-group {
    margin: 0 0 15px 0;
}

.manage-content {
    padding: 20px 40px;
    margin-bottom: -15px;
    background: #ddd;
    border-bottom: 15px solid #eee;
    border-radius: 5px;

    h2 {
        margin: 0;
        padding: 6px 0;
        font-size: 31px;
        font-weight: bold;
        color: #193A5A;
        padding: 0;
    }
}

.list-group {
    margin: 20px 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
