.navbar {
    border: none;
}

.header {
    background: #193A5A;
    padding: 25px 0;
    margin-bottom: 20px;

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        color: #fff;
        font-size: 35px;
        font-weight: bold;
    }

    .btn {
        font-weight: bold;
        padding: 8px 12px;
    }

    .btn-header {
        background: #008000;
        border: 1px solid #008000;
        color: #000;

        &:hover {
            background: #198C19;
            border: 1px solid #198C19;
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
