.float-container h6 {
  margin: 0;
  padding: 6px 0;
  font-size: 31px;
  font-weight: bold; }

.float-container .float-left {
  margin-bottom: 20px;
  text-align: center; }

.float-container .float-right {
  text-align: center; }

.float-container .btn {
  width: 100%;
  margin-bottom: 6px; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .float-container {
    clear: both;
    overflow: auto; }
    .float-container h6 {
      padding: 0; }
    .float-container .float-left {
      float: left;
      display: inline;
      max-width: 40%;
      margin: 0;
      text-align: left; }
    .float-container .float-right {
      float: right;
      display: inline;
      max-width: 40%;
      margin: 0;
      text-align: left; }
    .float-container .btn {
      width: inherit;
      margin-bottom: inherit; } }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
body {
  padding-top: 50px;
  padding-bottom: 20px; }

.row {
  margin: 0 0 20px 0; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Set widths on the form inputs since otherwise they're 100% wide */
/* Carousel */
.carousel-caption {
  z-index: 10 !important; }

.carousel-caption p {
  font-size: 20px;
  line-height: 1.4; }

@media (min-width: 768px) {
  .carousel-caption {
    z-index: 10 !important; } }

#textbox {
  min-height: 500px; }

.navbar {
  border: none; }

.header {
  background: #193A5A;
  padding: 25px 0;
  margin-bottom: 20px; }
  .header h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: #fff;
    font-size: 35px;
    font-weight: bold; }
  .header .btn {
    font-weight: bold;
    padding: 8px 12px; }
  .header .btn-header {
    background: #008000;
    border: 1px solid #008000;
    color: #000; }
    .header .btn-header:hover {
      background: #198C19;
      border: 1px solid #198C19; }

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.note {
  padding: 20px 40px;
  background: #eee;
  margin: 15px auto; }
  .note .note-content {
    padding: 10px 0; }
  .note .meta {
    padding: 10px;
    background: #ddd; }
  .note p {
    font-size: 18px;
    margin: 0 0 15px 0; }
  .note li {
    font-size: 18px;
    padding: 3px; }
  .note h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0; }
  .note h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 2px solid #ccc; }
  .note hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0; }

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
